<h1 class="title"><a href="http://github.jhawk.co/ember-user-activity/" target="_blank">Ember User Activity Demo</a></h1>

<p>Move your mouse, click, or press keys to see events fire!</p>

{{idle-display}}

<div class="flexContainer">
  {{event-display}}
  {{event-display eventName='mousemove'}}
  {{event-display eventName='mousedown'}}
  {{event-display eventName='keydown'}}
</div>