{{#docs-hero
  slimHeading='User'
  strongHeading='Activity'
  byline='Tracking Services for User Actions & Idling'
  yieldMultiple=true
as |yieldType|
}}
  {{#if yieldType.isLogo}}
    <span class='docs-hero__logo'>
      {{docs-logo logo='ember'}}
    </span>
  {{else if yieldType.isBottom}}
    <span class="badges">
      <a href="https://travis-ci.org/elwayman02/ember-user-activity" target="_blank">
        <img src="https://travis-ci.org/elwayman02/ember-user-activity.svg?branch=master" />
      </a>
      <a href="https://emberobserver.com/addons/ember-user-activity" target="_blank">
        <img src="https://emberobserver.com/badges/ember-user-activity.svg" />
      </a>
      <a href="https://codeclimate.com/github/elwayman02/ember-user-activity" target="_blank">
        <img src="https://codeclimate.com/github/elwayman02/ember-user-activity/badges/gpa.svg" />
      </a>
    </span>

    <p class="version">Version {{app-version hideSha=true}}</p>
  {{/if}}
{{/docs-hero}}

<div class="docs-container">
  <div class="description">
    <p>Scroll, click, or press keys to see events fire!</p>

    <p>
      Add <a href="https://developer.mozilla.org/en-US/docs/Web/Events" target="_blank">another event</a>:
      <input value={{newEvent}} oninput={{action (mut newEvent) value='target.value'}} onkeydown={{action 'addEvent' newEvent}}>
    </p>
  </div>

  {{idle-display}}

  <div class="flexContainer">
    {{#each eventNames as |event|}}
      {{event-display eventName=event close=(action 'removeEvent')}}
    {{/each}}
  </div>
</div>