<h1 class="title"><a href="http://github.jhawk.co/ember-user-activity/" target="_blank">Ember User Activity Demo</a></h1>

<span class="badges">
  <span class="badgeInner">
    <a href="https://travis-ci.org/elwayman02/ember-user-activity" target="_blank">
      <img src="https://travis-ci.org/elwayman02/ember-user-activity.svg?branch=master" />
    </a>
    <a href="https://emberobserver.com/addons/ember-user-activity" target="_blank">
      <img src="https://emberobserver.com/badges/ember-user-activity.svg" />
    </a>
    <a href="https://codeclimate.com/github/elwayman02/ember-user-activity" target="_blank">
      <img src="https://codeclimate.com/github/elwayman02/ember-user-activity/badges/gpa.svg" />
    </a>
  </span>
</span>

<p>Scroll, click, or press keys to see events fire!</p>

{{idle-display}}

<div class="flexContainer">
  {{event-display}}
  {{event-display eventName='scroll'}}
  {{event-display eventName='mousedown'}}
  {{event-display eventName='keydown'}}
</div>